* {
  box-sizing: border-box;
  margin: 0;
  font-family: Space Mono;
  font-weight: 700;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    140deg,
    rgba(7, 23, 58, 1) 0%,
    rgba(94, 22, 5, 1) 45%,
    rgba(175, 55, 18, 1) 81%,
    rgba(244, 181, 78, 1) 100%
  );
}

header {
  width: 100vw;
  height: 10vh;

  border-bottom: 4px solid white;
}

.main-container {
  width: 100vw;
  height: 90vh;
}

.menu-container,
.screen-container,
.queue-container {
  border: solid white 2px;
  box-shadow: 4px 4px 23px -4px rgba(0, 2, 0, 0.69);
}

.menu-container,
.screen-container {
  width: 60%;
  float: left;
}

.screen-container {
  height: 70%;
  margin: 4% 0% 0% 4%;
}

#tap-screen {
  background: url(tap_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#alc-screen {
  background: url(beer-3445988_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#type-screen {
  background: url(wheat-3241114_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#desc-screen {
  background: url(desc-background.jpg);
  background-size: cover;
  background-position-x: right;
  background-repeat: no-repeat;
  /* background-blend-mode: overlay; */
}

.menu-container {
  height: 15%;
  background-color: brown;
  margin: 1% 0% 3% 4%;
}

.queue-container {
  width: 30%;
  height: 87%;
  background-color: none;
  float: right;
  margin: 4% 4% 3% 2%;

  overflow-y: scroll;
  background: rgba(7, 23, 58, 0.2);
  background-blend-mode: overlay;
}

#type-container,
#desc-container,
#alcohol-container {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0%;
  margin-top: 18%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  overflow-x: scroll;
}

/* TAP  */

.screen-container {
  position: relative;
}

.screen-container h1 {
  /* TAPS TITLE */
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 8%;
}

.graph-container {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 10%;
  margin: auto;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(7, 1fr);
}

.beer-container {
  width: 100%;
  height: 100%;
}

.bar-container {
  width: 100%;
  height: 84%; /* DONT CHANGE */
}

.name_container {
  width: 100%;
  height: 16%;
}

.percentage-tap {
  font-size: 1.5em;
  text-align: center;
  padding-top: 30%;
}

/* LEVEL SVG */

.level {
  z-index: 1;
  mix-blend-mode: screen;
  stroke: white;
  stroke-width: 3;
  fill: rgba(175, 55, 18, 0.8);
  transition: all 0.8s ease;
}

.bar_stroke {
  z-index: 5;
}

.label {
  width: 12%;
  margin: 0;
  padding-top: 35%;
  padding-bottom: 15%;
  position: absolute;
  z-index: 70;
}

.cross {
  width: 50%;
  margin: 22%;
}

.warning {
  width: 60%;
  margin-top: 0;
  margin: 20%;
}

/* ORDER */

.queue-container {
  /* background: url(order_background.jpg), rgba(7, 23, 58, 0.6);
  background-size: cover;
  background-repeat: no-repeat; */
}

.title-queue {
  margin-top: 16%;
  margin-left: 10%;
  margin-bottom: 8%;
  font-size: 2em;
}

ol {
  padding: 0;
}

.list-queue li {
  /* display: block; */
  border: solid 2px white;
  margin: 2% 4% 0 4%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.order-item {
  /* display: inline; */
  width: 75%;
  margin: 13%;
}
.order-item img {
  float: right;
  width: 60%;
  margin-right: 5%;
}
.order-item p {
  /* margin-top: 7%;
    margin-left:12%; */
  padding: 10% 0 10% 10%;
  height: 100%;
  float: left;
  font-size: 2em;
}

/* MENUS */

.menu-container {
  background-color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-container nav {
  width: 100%;
  height: 100%;
}

.menu-container a {
  width: 100%;
  height: 100%;
  margin: 0;
  border-right: solid 4px rgba(255, 255, 255, 0.2);
}

.menu-container img {
  width: 30%;
  height: auto;
  margin-left: calc(50% - 15%);
  margin-top: 15%;
}

/* HEADER */

header {
  background-color: rgba(7, 23, 58, 0.4);
}

.header-left {
  width: 65%;
  height: 10vh;
  margin-left: 5%;
  float: left;
}

.bartender-container {
  width: 80%;
  height: 10vh;
  float: right;
  padding: 5% 5% 5% 5%;
}

.time-container {
  width: 30%;
  height: 10vh;
  /* display:inline-block; */
  /* margin-right: 5%; */
  padding: 2% 2% 2% 2%;
  float: right;
}

#logo {
  width: 8%;
  margin-top: 2%;
  display: inline-block;
}
.bartender {
  margin-top: 0;
  width: 15%;
  height: 100%;
  display: inline-block;
  margin-right: 5%;
}
.bartender p {
  width: 10%;
  margin: 0;
  display: inline;
}

.cercle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  float: right;
  margin-top: 4%;
}

header h1 {
  width: fit-content;
  height: 100%;
  display: inline-block;
}

#open {
  margin-right: 20%;
}

/* ALCOHOL */

td {
  padding-top: 2%;
}

.beer-name {
  padding: 0;
  width: 70%;
  font-size: 1.3em;
}

.alcohol-percentage {
  font-size: 1.3em;
  width: 10%;
}

.beer-icon {
  width: 20%;
  float: right;
}

/* TYPE */

.type-name {
  font-size: 1.3em;
  width: 64%;
}

/* DESC */

#desc-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  overflow-y: scroll;
}

.desc-icon {
  width: 40%;
  grid-column: 1/2;
  margin-left: 15%;
  margin-top: 15%;
}

.beer-image {
  width: 70%;
  grid-column: 1/2;
  padding: 5%;
}

.beer-title,
.beer-appearance,
.beer-flavor,
.beer-aroma {
  grid-column: 2/-1;
}

.beer-title {
  padding: 0;
  margin-top: 5%;
  width: 70%;
  font-size: 1.3em;
}

.beer-appearance,
.beer-aroma,
.beer-flavor {
  margin-top: 2%;
}

#desc-title {
  width: 60%;
  float: left;
}

#previous,
#next {
  float: right;
  font-size: 2.5em;
  margin-top: 8%;
  margin-right: 10%;
}

/* CLASS JS */

.none {
  display: none;
}

.here {
  display: block;
}

.button_active {
  opacity: 0.3;
}

@media screen and (max-width: 1024px) {
  .screen-container h1 {
    font-size: 1.5em;
  }

  .title-queue {
    font-size: 1.5em;
  }

  .type-name {
    /* width:55%; */
    font-size: 1.1em;
  }
  .beer-name {
    font-size: 1.1em;
  }

  .bartender-container {
    width: 92%;
    height: 10vh;
    float: right;
    padding: 5% 5% 5% 5%;
  }

  .time-container h1 {
    font-size: 1.5em;
  }

  .percentage-tap {
    font-size: 1.1em;
  }

  .order-item p {
    font-size: 1.5em;
  }

  #previous,
  #next {
    font-size: 1.7em;
  }
}
